$main-color: #ffffff;
$header-linear-from: #fce38ae6;
$header-linear-to: #f38181e6;
$hover: #fce38a;
$btn-color: #00000000;

$section-color: #999999;
$section-color-2: #333333;
$hover-pseudo: #f38181;

$overlay: #95e1d3;
$line: #e5e5e5;
$email: #cccccc;

$roboto: 'Roboto';
$montserrat: 'Montserrat';
$kaushan: 'Kaushan Script';
$sans: 'sans-serif';

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;