html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", "Arial", "sans-serif";
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  background: ffffff;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.page-nav {
  padding: 77px 0 100px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}

.site-navigation a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-weight: 700;
  font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #44b6f5;
}

.site-navigation li {
  display: inline-block;
  font-size: 14px;
}

.site-navigation li:not(:last-child) {
  margin-right: 108px;
}

.articles {
  padding-bottom: 70px;
}

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.articles-list-item {
  margin-bottom: 125px;
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  font-size: 14px;
}

.articles-list-item:nth-child(2n) {
  margin: 0;
}

.articles-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.articles-name {
  color: #b4ad9e;
  font-size: 14px;
  line-height: 17px;
}

.articles-description h2 {
  line-height: 36px;
  margin: 0;
}

.articles-list-item h2 {
  margin-bottom: 33px;
}

.articles-about {
  line-height: 24px;
  margin: 0;
}

.load-more {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.load-more-button {
  margin-top: 50px;
  display: block;
  border: none;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  padding: 21px 38px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
