/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

img {
  display: block;
  max-width: auto;
  max-height: 100%;
}

.page-header {
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin: 0 auto;
}

.buttons {
  padding: 20px 60px 20px 60px;
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border: transparent;
  background: transparent;
  width: 94px;
  height: 40px;
}

.button:hover,
.button:focus {
  outline: none;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
}

.header-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  cursor: pointer;
}

.header-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.header-desc {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: none;
  padding-right: 20px;
  padding-left: 20px;
}

.header-button {
  display: block;
  color: #fff;
  border: none;
  width: 280px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  margin: 0 auto;
}

.header-button:hover,
.header-button:focus {
  cursor: pointer;
  outline: none;
}

/* PARTNERS */

.partners {
  padding-bottom: 59px;
}

.partners-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners-list-item {
  position: relative;
}

.partners-list-item::before {
  content: "";
  display: block;
  width: 121px;
  height: 121px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.partners-list-item::after {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  right: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.one:before {
  background-image: url("../img/partners/1.png");
}

.one:after {
  background-color: rgb(255, 78, 80);
  background-image: url("../img/partners/tv.png");
  bottom: 45%;
}

.two:before {
  background-image: url("../img/partners/2.png");
}

.two:after {
  background-color: rgb(255, 165, 7);
  background-image: url("../img/partners/colb.png");
  bottom: 52%;
  right: 18%;
}

.three:before {
  background-image: url("../img/partners/3.png");
}

.three:after {
  background-color: rgb(28, 215, 173);
  background-image: url("../img/partners/cup.png");
  bottom: 46%;
  right: 18%;
}

.four:before {
  background-image: url("../img/partners/4.png");
}

.four:after {
  background-color: rgb(78, 115, 219);
  background-image: url("../img/partners/message.png");
  bottom: 48%;
}

h4 {
  margin: 0;
}

.partners-list-item {
  margin-bottom: 31px;
}

.partners-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  margin-bottom: 19px;
  text-align: center;
}

.partners-about {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.see-other {
  border: none;
  display: block;
  width: 284px;
  height: 44px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ff4e50;
  text-align: center;
  margin: 0 auto;
}

.see-other:hover,
.see-other:focus {
  outline: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .page-header {
    background-image: url("../img/header-mobile/background-mobile.png");
    background-color: rgb(26, 25, 21);
    width: 320px;
    height: 540px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .container {
    width: 320px;
  }

  .partners-list-item {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-sub > .col-sm-12 {
    padding-right: 14px;
    padding-left: 14px;
  }

  .header-subtitle > .col-sm-12 {
    padding-right: 14px;
    padding-left: 14px;
  }
}

@media (min-width: 576px) {
  .one:before {
    background-image: url("../img/partners/1.png");
  }

  .one:after {
    background-color: rgb(255, 78, 80);
    background-image: url("../img/partners/tv.png");
    right: 28%;
    bottom: 40%;
  }

  .two:before {
    background-image: url("../img/partners/2.png");
  }

  .two:after {
    background-color: rgb(255, 165, 7);
    background-image: url("../img/partners/colb.png");
    bottom: 48%;
    right: 28%;
  }

  .three:before {
    background-image: url("../img/partners/3.png");
  }

  .three:after {
    background-color: rgb(28, 215, 173);
    background-image: url("../img/partners/cup.png");
    bottom: 42%;
    right: 28%;
  }

  .four:before {
    background-image: url("../img/partners/4.png");
  }

  .four:after {
    background-color: rgb(78, 115, 219);
    background-image: url("../img/partners/message.png");
    bottom: 40%;
    right: 29%;
  }
}

@media (min-width: 768px) {
  .page-header {
    background-image: url("../img/tablet/tablet-background.png");
    background-color: rgb(26, 25, 21);
    width: 768px;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .container {
    max-width: 748px;
  }

  .menu {
    flex-direction: row-reverse;
  }

  .header {
    margin-bottom: 150px;
    padding-top: 47px;
  }

  .header-title {
    margin: 0;
  }

  .buttons {
    margin: 0;
    padding: 0;
  }

  .header-subtitle {
    margin: 0;
    font-size: 52px;
    line-height: 62px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 44px;
  }

  .header-desc {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    display: block;
    margin: 0 auto;
    margin-bottom: 34px;
  }

  .partners-title {
    margin-bottom: 33px;
  }

  .partners-list {
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 65px;
  }

  .partners-list-item {
    padding-left: 65px;
    padding-right: 65px;
    margin: 0;
  }

  .partners-about {
    margin-bottom: 0;
  }

  .partners-list > .one {
    order: 1;
  }

  .col-md-6:nth-child(2n + 1) {
    margin-bottom: 58px;
  }

  .partners-list > .two {
    order: 2;
  }

  .partners-list > .three {
    order: 1;
  }

  .four {
    order: 2;
  }

  .one::after {
    right: 32%;
    bottom: 40%;
  }

  .two::after {
    right: 32%;
    bottom: 48%;
  }

  .three::after {
    right: 32%;
    bottom: 42%;
  }

  .four::after {
    right: 32%;
    bottom: 52%;
  }

  .see-other {
    width: 197px;
    height: 44px;
  }

  .header-button {
    width: 226px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    width: 100%;
  }

  .page-header {
    background-image: url("../img/desktop/desktop-background.png");
    background-color: rgb(26, 25, 21);
    width: 992px;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .container {
    max-width: 960px;
    height: 100%;
  }

  .header {
    padding: 0;
    padding-top: 50px;
  }

  .header-subtitle {
    padding-right: 100px;
    padding-left: 100px;
  }

  .header {
    margin-bottom: 162px;
  }

  .header-desc {
    margin-bottom: 40px;
  }

  .partners-title {
    margin-bottom: 32px;
  }

  .partners-list-item {
    width: 220px;
    padding: 2px;
    margin: 0;
  }

  .list {
    flex-wrap: nowrap;
  }

  .list > .col-lg-3 {
    margin: 0;
  }

  .one::after {
    right: 22%;
    bottom: 48%;
  }

  .two::after {
    right: 22%;
    bottom: 49%;
  }

  .three::after {
    right: 20%;
    bottom: 50%;
  }

  .four::after {
    right: 22%;
    bottom: 49%;
  }

  .see-other {
    width: 196px;
    height: 44px;
  }

  .header-button {
    width: 225px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    background-image: url("../img/desktop/desktop-background.png");
    background-color: rgb(26, 25, 21);
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .container {
    width: 1140px;
    height: 100%;
  }

  .header {
    padding: 0;
    padding-top: 50px;
  }

  .header-subtitle {
    padding-right: 100px;
    padding-left: 100px;
  }

  .header {
    margin-bottom: 162px;
  }

  .header-desc {
    margin-bottom: 40px;
  }

  .partners-title {
    margin-bottom: 32px;
  }

  .partners-list-item {
    width: 220px;
    padding: 2px;
    margin: 0;
  }

  .list {
    flex-wrap: nowrap;
  }

  .list > .col-lg-3 {
    margin: 0;
  }

  .one::after {
    right: 22%;
    bottom: 48%;
  }

  .two::after {
    right: 22%;
    bottom: 49%;
  }

  .three::after {
    right: 20%;
    bottom: 50%;
  }

  .four::after {
    right: 22%;
    bottom: 49%;
  }

  .see-other {
    width: 196px;
    height: 44px;
  }

  .header-button {
    width: 225px;
    height: 40px;
  }
}
